/* Variables */

/*
  Naming convension:
  element_identifier__css-property--characteristic
*/

$question__background-color : #fbfbfb;
$button_next__background-color : #fcd000;
$button_prev__background-color : #fcd000;
$button_confirm__background-color : #47cf73;
$button_disabled__background-color : #ccc;
$button__border-radius : 3px;
$choices__border-bottom--color : #ebebeb;
$choices_hover__background-color : #fdfdfd;
$choices_picked__border-bottom--color: #fcd000;
